.content
  .page-header
    .options.pull-right
      = link_to 'New Domain', new_manage_domain_path, :class => 'btn primary'
    %h1 Domains
  .row
    .span12
      %table.table.table-striped.table-bordered{:id => 'domains'}
        %thead
          %th Name
          %th Catch all
          %th{:style => 'width:180px'}
        %tbody
        - @domains.each do |domain|
          %tr
            %td= domain.name
            %td= domain.catch_all
            %td
              .pull-right
                = link_to text_with_icon('cog', 'Edit'), manage_domain_path(domain), :class => 'btn'
                = link_to text_with_icon('trash', 'Delete'), manage_domain_path(domain), :method => 'DELETE', :confirm => 'Are you sure you wish to delete this domain?', :class => 'btn'


