.content
  .page-header
    .options.pull-right
      = link_to 'New Domain', new_manage_domain_path, :class => 'btn primary'
    %h1 Domains
  .row
    .span12
      %table.table.table-striped.table-bordered{:id => 'domains'}
        %thead
          %th Name
          %th Catch all
          %th
        %tbody
        - @domains.each do |domain|
          %tr
            %td= domain.name
            %td= domain.catch_all
            %td
              .pull-right
                = link_to image_tag('manage.png'), manage_domain_path(domain)
                = link_to image_tag('delete.png'), manage_domain_path(domain), :method => 'DELETE', :confirm => 'Are you sure you wish to delete this domain?'


