<!DOCTYPE html>
<html>
<head>
  <title>nomad</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body style="padding-top: 60px">
  <div class="navbar navbar-fixed-top" data-dropdown="dropdown">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Nomad</a>
        <%= render :partial => 'common/nav' %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render :partial => 'common/breadcrumb' %>
    <%= render :partial => 'common/alerts' %>
    <%= yield %>
    <hr/>
    <footer class='footer'>
      <span class="pull-right"><%= link_to "FAQ", "/faq" %> | <%= link_to "Terms of Use", "/terms" %></span>
      <span>Designed to make life a bit easier by <%= link_to '@vertis', 'http://twitter.com/vertis' %></span>
      
         
    </footer>
  </div>
  <% if Rails.env=='production' %>
      <script type="text/javascript">
        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '4f2df9ad844d520610000065');
          t.src = '//secure.gaug.es/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();
      </script>
  <% else %>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f4bf56dcb25bc56ca000097');
        t.src = '/assets/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  <% end %>
</body>
</html>
