<!DOCTYPE html>
<html>
<head>
  <title>threezeroone</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <h3><%= link_to "three-zero-one", "/" %></h3>
        <%= render :partial => 'common/nav' %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield :hero_unit %>
    <div class="content">
      <div class="row">
      </div>
      <div class="row">
        <div class="span16">
          <%= render :partial => 'common/alerts' %>
          <%= yield %>
        </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
