<!DOCTYPE html>
<html>
<head>
  <title>nomad</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :head %>

  <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
        background-image: url('/assets/background.png');
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }

      /* The white background content wrapper */
      .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px 18px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        /*background-color: #f5f5f5;*/
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span7,
      .content .span3 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span3 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }
    </style>
</head>
<body>
  <div class="navbar navbar-fixed-top" data-dropdown="dropdown">
    <div class="navbar-inner">
      <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Nomad</a>
          <div class="nav-collapse">
            <%= render 'common/nav' %>
          </div>
        </div>
    </div>
  </div>


  <div class="container">
    <%= render :partial => 'common/alerts' %>
    <%= yield %>
    
    <footer class='footer'>
      <span class="pull-right"><%= link_to "FAQ", "/faq" %> | <%= link_to "Terms of Use", "/terms" %></span>
      <span>Designed to make life a bit easier by <%= link_to '@vertis', 'http://twitter.com/vertis' %></span> 
    </footer>
  </div>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '<%= Settings.gauges_site_id %>');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
